* {
    outline: 3px solid #D8B4E2;
    text-align: center;
    color: #221E1F;
}

img{
    // 讓圖像可以伸縮到父元素的寬度，通常父元素都會設定 max-width 屬性來限制圖像最大寬
    width: 100%;
}

.container{
    @media (min-width: 1400px){
    // box 寬是content寬 1085 + .container 內距 12*2
    max-width: 1109px;
    }

    @media (min-width: 768px){
    max-width: 830px;
}


body{
    &>img{
        position: absolute;
        right: 0;
        z-index: -1;
        width: 62.25%;
        @media (max-width: 992px){
            top: 359px;
            right: 8%;
            width: 85%;

        }

    }
}

header {
    height: 88px;
    margin-bottom: 30px;

    &>img{
        // 需直接設定 max-width 或 width，因為 img 元素的水平方向並未直接被父元素包裹，無法使用 max-width 的方式
        max-width: 218.06px;

        height: 40px;
    }
    &>a.btn {
        display: block;
    
        /* 這裡很靠背，大招也無法覆蓋，可以透過 先套用按鈕的 btn-lg，在自己寫同樣的選擇器，在裡面用修改就會成功 */
        width: 328 !important;
    
        /* 記得用 padding 來拉內距時，要扣掉寬高 */
        padding: 7px 31px;
    
        font-size: 16px;
        line-height: 24px;
    }
    
    /* .btn-lg{
        width: 128px;
    } */
}

.container1{
    &>div>img{
        height: 543px;
        margin-bottom: 217px;
    }
    p{
        text-align: start;
        &:nth-child(1) {
        color: #56C4C5;}
        &:nth-child(2) {
            font-size: 48px;
            line-height: 70px;
            font-weight: bold;
        }
        &:nth-child(3) {
            font-size: 20px;
            line-height: 29px;
        }
    }
}

.container2 {
    max-width: 969px;
    height: 315px;
    margin-bottom: 100px;
    
    &>p {
        font-size: 32px;
        font-weight: bold
    }
    &>div {
        max-width: 969px;
        // @media (max-width: 768px){
        //     flex-direction: column
        // }
    }

    img {
        max-width: 90px;
    }
}

.Social_platforms{
    width: 244px;
    height: 221px;

    &>div:nth-child(2) {
        font-size: 24px;
    }

    &>div:nth-child(3) {
        font-size: 16px;
        color: #747474;
    }
}

.container3 {
    max-width: 1088px;
    height: 527px;
    margin-bottom: 100px;

    .card{
        max-width: 260px;
        font-size: 16px;
    }
    .card-title{
        color: #56C4C5;
    }
    
    .row{
        // 使用了 justify-content-between，row(也是 flex)本身的寬，會從自適應收縮，改為自適應延伸，因此要用 max-width 來避免過度延伸
        max-width: 1088px;

        // row 默認有設置 margin
        margin: 0;
    }

    // 可以從 ChromDevTool 發現 row>* 選擇器，有設定 padding
    // .row>*{
    //     padding:0 8px ;
    // }
    // .row>.col:first-child{
    //     padding-left: 0;
    // }
    // .row>.col:last-child{
    //     padding-right: 0;
    // }


    &>p:nth-child(1){
        font-size: 32px;
        font-weight: bold;
    }
    &>p:nth-child(2){
        margin: 16px 0 48px;
    }
}

// .container4{
//     width: 1039px;
//     height: 588px;

//     &>div:nth-child(1){
//         width: 507px;
//         height: 588px;
//         display: grid;
//         grid-template-columns: 230px 230px;

//     }
// }

